# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# Bytecode cache
app/__pycache__/

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# Temporary Files
# ===============================
*.tmp
*.swp

# ===============================
# Generated API Schema
# ===============================
openapi.json